<div class="flex-column ml-normal mr-normal mt-normal">
  <delmo-section>Contact & Support</delmo-section>

  <span>
    In case you want to get in touch with us you can contact Chris form IIJAT
    either via nostr or email.
  </span>

  <span class="label mt-normal"> Email Address </span>
  <delmo-clip text="chris@iijat.com"> </delmo-clip>

  <span class="label mt-normal"> Nostr Address </span>
  <delmo-clip text="chris@nip05.social"> </delmo-clip>

  <span class="label mt-normal"> Nostr ID </span>
  <delmo-clip
    text="npub1py8yuj8q0ce3k757k5n4xfu5j6dtzzrdm7jdsp0llzxxxk8f69ws9zgr8n"
  >
  </delmo-clip>

  <span class="section mt-large">Support Us</span>
  <span class="mt-small">
    If you want to support our work, please consider a small donation and send
    us some sats.<br />
    <br />
    <div class="flex-column font-size-14">
      <i>"It’s not how much we give, but how much love we put into giving."</i>
      <span>--- Mother Teresa ---</span>
    </div>
  </span>

  <span class="label mt-normal"> Lightning Address </span>
  <delmo-clip text="chris@nip05.social"></delmo-clip>
</div>
