<h1 mat-dialog-title class="header">Approval required</h1>

<mat-dialog-content>
  <div class="flex-column mat-body">
    <span class="align-self-center">Allow the app to:</span>
    <span class="align-self-center color-white"
      ><b>Read</b> your public key</span
    >

    <button
      mat-stroked-button
      class="button-big mt-large"
      style="border-color: initial"
      color="primary"
      (click)="decline()"
    >
      <div class="flex-row align-items-center gap-tiny">
        <div style="font-size: 16px; font-weight: 600">DECLINE</div>
      </div>
    </button>

    <ng-container *ngIf="mixedService.isNip07BrowserExtensionAvailable">
      <span class="align-self-center mb-normal mt-normal">or forward to</span>

      <button
        mat-flat-button
        class="button-big"
        color="primary"
        (click)="approveWithExtension()"
      >
        <div class="flex-row">
          <div style="font-size: 16px; font-weight: 600">EXTENSION</div>
        </div>
      </button>
    </ng-container>

    <ng-container *ngIf="(keys?.length ?? 0) > 0; else noKeysElement">
      <span class="align-self-center mb-normal mt-normal">or</span>

      <button
        mat-flat-button
        class="button-big mb-small"
        color="primary"
        (click)="approveWithIdentity()"
        [disabled]="!selectedKey"
      >
        <div class="flex-row">
          <div style="font-size: 16px; font-weight: 600">APPROVE</div>
        </div>
      </button>

      <mat-form-field appearance="outline" color="primary">
        <mat-select
          [(ngModel)]="selectedKey"
          class="mt-small"
          placeholder="with identity ..."
        >
          <mat-option *ngFor="let key of keys" [value]="key">
            {{ key.nick }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <ng-template #noKeysElement>
      <span class="align-self-center mt-normal">
        So far, you don't have any managed identities within delegation.monster.
        Go to "Identities" and create one in order to start using it here.</span
      >
    </ng-template>
  </div>
</mat-dialog-content>
