.color-orange-500 {
  color: var(--orange-500);
}

.color-orange-600 {
  color: var(--orange-600);
}

.color-orange-800 {
  color: var(--orange-800);
}

.color-white {
  color: #ffffff;
}

.color-green {
  color: var(--green);
}
