<div class="flex-column ml-normal mr-normal mt-normal">
  <delmo-section>Terms of Service ("Terms")</delmo-section>

  <span>
    Our Terms of Service were last updated on <b>2023-07-08</b>. Please read
    these terms and conditions carefully before using Our Service.
  </span>

  <span class="section mt-normal">Interpretation and Definitions</span>

  <span class="label mt-small">Interpretation</span>
  <span class="mt-small">
    The words of which the initial letter is capitalized have meanings defined
    under the following conditions. The following definitions shall have the
    same meaning regardless of whether they appear in singular or in plural.
  </span>

  <span class="label mt-small">Definitions</span>
  <ul style="margin: 8px 0">
    <li>
      "<b>Company</b>" (referred to as either "the Company", "We", "Us" or "Our"
      in this Agreement) refers to IIJAT.
    </li>
    <li>
      "<b>Terms of Service</b>" (also referred as "Terms") mean these Terms of
      Service that form the entire agreement between You and the Company
      regarding the use of the Service.
    </li>
    <li>"<b>Service</b>" refers to the Website.</li>
    <li>
      "<b>Website</b>" refers to delegation.monster, accessible via
      https://delegation.monster.
    </li>
    <li>
      "<b>You</b>" means the individual accessing or using the Service, or the
      company, or other legal entity on behalf of which such individual is
      accessing or using the Service, as applicable.
    </li>
  </ul>

  <span class="section mt-normal">Acknowledgment </span>
  <span class="mt-small">
    These are the Terms of Service governing the use of this Service and the
    agreement between You and the Company. By accessing or using the Service You
    agree to be bound by these Terms of Service. If you disagree with any part
    of these Terms of Service then You may not access the Service.
  </span>

  <span class="section mt-normal">"AS IS" and "AS AVAILABLE" Disclaimer</span>
  <span class="mt-small">
    The Service is provided to You "AS IS" and "AS AVAILABLE" and with all
    faults and defects without warranty of any kind. We reserve the right to
    terminate the Service without prior notice for any reason whatsoever.
  </span>

  <span class="section mt-normal"> Changes to These Terms of Service </span>
  <span class="mt-small">
    We reserve the right, at Our sole discretion, to modify or replace these
    Terms at any time. By continuing to access or use Our Service after changes
    become effective, You agree to be bound by the changed terms. If You do not
    agree to the new terms, in whole or in part, please stop using the Website
    and the Service.
  </span>

  <span class="section mt-normal">Contact Us</span>
  <span class="mt-small">
    If you have any questions about these Terms of Service, You can contact us:
  </span>
  <ul style="margin: 8px 0 32px 0">
    <li>By sending us an email: info@iijat.com</li>
  </ul>
</div>
