<div class="flex-column ml-normal mr-normal mt-normal">
  <delmo-section>Privacy Policy</delmo-section>

  <span>
    At IIJAT, we are committed to protect your privacy. This Privacy Policy
    describes our policies and practices in relation to how we collect, handle,
    and disclose your personal information.
  </span>

  <span class="section mt-normal">
    What personal information do we collect and hold?
  </span>
  <span class="mt-small">
    "Personal information" means any details about you from which your identity
    is apparent or can be uncovered.<br />
    <br />
    WE DO NOT COLLECT ANY PERSONAL INFORMATION ABOUT YOU.
  </span>

  <span class="section mt-normal">
    How do we store and protect your personal information?
  </span>
  <span class="mt-small">
    Since we do not collect any personal information, WE DO NOT STORE ANY
    PERSONAL INFORMATION.
  </span>

  <span class="section mt-normal">
    What information does our service collect?
  </span>
  <span class="mt-small">
    We may collect information about the use of our website
    "https://delegation.monster". For example when you browse our website, our
    service provider logs your IP address, the date and time of your visit and
    the type of browser used.<br />
    <br />
    We may use this information to create usage statistics.
  </span>

  <span class="section mt-normal"> Updating this Privacy Policy </span>
  <span class="mt-small">
    We may update this Privacy Policy at any time by publishing it on
    "https://delegation.monster".
  </span>

  <span class="mt-large-x2 mb-large-x2">Effective: 2023-07-20</span>
</div>
