.header {
  text-align: center;
}

.details-container {
  //   white-space: pre;
  background: #ffffff;
  padding: 0 8px;
  color: #000000;
}

::ng-deep .mdc-dialog__content {
  overflow-x: hidden;
}

.wrap {
  overflow-wrap: anywhere;
  text-wrap: wrap;
}

.keys-and-delegations {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  column-gap: 8px;

  .nowrap {
    white-space: nowrap;
  }

  .ellipsis {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}
