:host {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.new-delegation-button-container {
  bottom: 16px;
  position: fixed;

  padding-right: 16px;
  box-sizing: border-box;

  pointer-events: none;

  max-width: 704px;
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
}

.new-delegation-overlay {
  top: 0;
  bottom: 0;
  position: fixed;

  max-width: 704px;
  width: 100%;

  padding: 16px 16px 0 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  background: var(--bg2);
}

.edit-delegation-overlay {
  top: 0;
  bottom: 0;
  position: fixed;

  max-width: 704px;
  width: 100%;

  padding: 16px 16px 0 16px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  background: var(--bg2);
}
